.emph {
  font-size: 32px;
  font-weight: 700;
}

.emph2 {
  font-size: 24px;
  font-weight: 700;
}

.h1 {
  font-size: 40px;
  font-weight: 700;
}

.h2 {
  font-size: 32px;
  font-weight: 700;
}

.h3 {
  font-size: 24px;
  font-weight: 600;
}

.h4 {
  font-size: 20px;
  font-weight: 600;
}

.h5 {
  font-size: 16px;
  font-weight: 600;
}

.h6 {
  font-size: 14px;
  font-weight: 600;
}

.p1 {
  font-size: 20px;
  font-weight: 400;
}

.p2 {
  font-size: 16px;
  font-weight: 400;
}

.p3 {
  font-size: 14px;
  font-weight: 400;
}

.p4 {
  font-size: 12px;
  font-weight: 500;
}

.fw8 {
  font-weight: 800;
}

.overline {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 10%;
}

mark {
  background-color: rgba(255,242,201,255);
  padding: 0px 4px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
}